<% @user.password = @user.password_confirmation = nil %>
<%= title t('users.new.sign_up'), :h2 %>

<% semantic_form_for @user do |f| %>

  <% f.inputs :name => 'Your Details' do %>
    <%= f.input :login, :label => t('user.login') %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, :label => t('user.password_confirmation') %>
  <% end %>

  <% f.inputs :name => 'Signup with OpenID' do %>
    <ol>
      <li class="string">
        <label for="openid_url">OpenID URL</label>
        <%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
      </li>
    </ol>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button t('users.new.sign_up') %>
  <% end %>

<% end %>
